/*
*
*Title: Basic website about;
*Author: Drini Toska;
*Daate: 17.03.2022;
*/


/**************************************** General Styling ***********************************/

:root {
	scroll-behavior: smooth;
}

@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200&display=swap');

body {
	margin: 0;
}

/* Navigation */

nav {
	background: linear-gradient(90deg, rgba(63,94,251,1) 10%, rgba(0,0,0,1) 100%);
	display: flex;
	justify-content: space-between; /* To make the links on the right side and the logo on the left*/
	align-items: center;
	padding: 30px;
}

nav img {
	height: 70px;
	border-radius: 50%; /* To make the logo round */
}

nav ul {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	list-style-type: none; /* It remve the bullet points */
}

nav ul li a {
	margin: 20px;
	padding: 20px;
	text-decoration: none;/* It removes the underline */
	background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
	border-radius: 15px;
	color: black;
	font-family: Raleway;
}

nav ul li a:hover {
	/* However chenges the elements if we move the moouse over it*/
	background-color: black;
	color: white;
}

header {
	height: 400px;
	display: flex;
	justify-content: center;
	align-items: center;
	background-image: url(header-background.jpg);
	background-position: center;
	background-size: cover;
}

header h1 {
	font-size: 30px;
	background-color:rgba(69, 117, 230, 0.7) ;
}

/*Main*/
main {
	padding: 60px;
	background: radial-gradient(circle, rgba(244,165,200,1) 0%, rgba(33,135,255,1) 100%);
}

main h2 {
	color: white;
	padding: 20px;
}
 main p {
 	padding: 20px;
 }

 /* Footer */
 footer {
 	height: 400px;
 	display: flex;
 	justify-content: space-evenly;
 	align-items: center;
 	background-image: url(footer-bild.jpg);
 	background-size: cover;
 	background-position: center;
 }

 footer p {
 	background: rgba(255, 255, 255, 0.7);
 	padding: 10px;
 	border-radius: 15px;
 }