.A {
	background-color: rgb(245, 66, 66);
	margin: 10;
	padding: 15px;
}

.B {
	background-color: #f5bc42;
	margin: 10;
	padding: 15px;
}

.C {
	background-color: rgb(66, 245, 132);
	margin: 10;
	padding: 15px;
}

.D {
	background-color: #42f5b9;
margin: 10;
	padding: 15px;
}

.E {
	background-color: rgb(66, 215, 245);
margin: 10;
	padding: 15px;
}

.F {
	background-color: #1120f5;
	margin: 10;
	padding: 15px;
}

.G {
	background-color: rgb(173, 17, 245);
margin: 10;
	padding: 15px;
}

.H {
	background-color: #e611f5;
margin: 10;
	padding: 15px;
}

.I {
	background-color: rgb(17, 245, 36);
margin: 10;
	padding: 15px;
}

.J {
	background-color: #f5ea11;
margin: 10;
	padding: 15px;
}

.K {
	background-color: rgb(15, 82, 75);
margin: 10;
	padding: 15px;
}

.L {
	background-color: #0f5212;
margin: 10;
	padding: 15px;
}

.M {
	background-color: rgb(19, 15, 82);
margin: 10;
	padding: 15px;
}

.N {
	background-color: #520f1f;
margin: 10;
	padding: 15px;
}

.O {
	background-color: rgb(82, 50, 15);
margin: 10;
	padding: 15px;
}

.P {
	background-color: #74a895;
	margin: 10;
	padding: 15px;
}

.Q {
	background-color: rgb(116, 168, 120);
margin: 10;
	padding: 15px;
}

.R {
	background-color: #74a8a0;
	margin: 10;
	padding: 15px;
}

.S {
	background-color: rgb(116, 152, 168);
margin: 10;
	padding: 15px;
}


.T {
	background-color: #9e74a8;


}