html {
	background-color: #FA8FAB;
}

h1 {
	text-align: center;
	background-color: white;
}

h2 {
	background-color: white;
}

h3 {
	background-color: white;
}

h4 {
	background-color: white;
}

h5 {
	background-color: white;
}

img {
	height: 100px;
	border: dotted 10px #FA8FAB;

}

.flamingo2 {
	height: 100px;
	border: dotted 10 px #FA8FAB0;
	float: right;
}

ol {
	background-color: white;
}

li {
	margin: 10px;
	<background-color: pink;
}

p {
	background-color: white;
}