<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Template</title>
	<link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
<nav>
	<p>BR Architects<p>
	<ul>
		<li><a href="projects.html">Projects</a></li>
		<li><a href="about.html">About</a></li>
		<li><a href="contact.html">Contact</a></li>
	</ul>
</nav>


<div>
<img src="summer.jpg">
<img src="brick.jpg">
<img src="renovated.jpg">
<img src="barn.jpg">
<img src="brick.jpg">
<img src="summer.jpg">
<img src="barn.jpg">
<img src="renovated.jpg">
</div>


<div class="summer"><p>Summer House</p></div>
<div class="brick"><p>Brick House</p></div>
<div class="renovated"><p>Renovated</p></div>
<div class="barn">Barn House</div>
<div class="summer2"><p>Summer House</p></div>
<div class="brick2"><p>Brick House</p></div>
<div class="renovated2"><p>Renovated</p></div>
<div class="barn2">Barn House</div>

</body>
</html>