.white {
	color: white;
	background-color: white;
	
}

.red {
	color: red;
	background-color:red ;

}

header {
	text-align: center;
	font-size: 25px;
}

img {
	float: right;
	width: 250px;
	margin-left: 10px;
	border: solid black;
}

 div {
 	margin: 3px;
 	height: 75px;
 }

 html {
 	background-color: pink;
 }